/* Styling elements */

* {
  font-size: 16px;
}

h2 {
  font-size: 3rem;
  margin-top: 10px;
}

main {
  margin: 10px;
  display: flex;
  flex-direction: column;
}

/* Styling style-specific divs */

.side-by-side {
  display: flex;
  flex-direction: row;
}

/* Styling Navigation Bar */

.nav-list {
  list-style: none;
  display: flex;
  background-color: lightgray;
  box-sizing: border-box;
  margin: 0;
  padding: 5px;
}

.nav-list a {
  text-decoration: none;
  color: black;
  font: 2rem sans-serif;
  padding-left: 10px;
}

/* Styling the Modals */

.modal {
  background-color: white;
  border-radius: 10px;
  border: 1px solid black;
  left: 50%;
  max-width: 80%;
  padding: 10px;
  position: fixed;
  top: 50%;
  transform: translate(-50%, -50%) scale(0);
  transition: 200ms ease-in;
  width: 700px;
  z-index: 10;
}

.modal-active {
  transform: translate(-50%, -50%) scale(1);
}

.modal-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid black;
}

.modal-header .title {
  font-weight: bold;
  font-size: 2.5rem;
}

.modal-header .close-button {
  cursor: pointer;
  border: none;
  outline: none;
  background: none;
  font-size: 2.5rem;
  font-weight: 900;
  padding-right: 10px;
}

.video-modal {
  width: 80vw;
  
}

/* Styling for grey-ed out background overlay */

.overlay {
  position: fixed;
  opacity: 0;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  pointer-events: none;
  transition: 200ms ease-in-out;
}

.overlay-active {
  opacity: 1;
  pointer-events: all;
}

/* Styling for specific element types */

.btn-link {
  background-color: blue;
  text-decoration: none;
  padding: 10px;
  color: white;
  font-weight: 500;
}

.clickable-image-container {
  position: relative;
  top: -100px;
}

area:hover {
  cursor: pointer;
}

.multiple-choice-form {
  display: grid;
  font-size: 1.5rem;
  grid-template-columns: max-content max-content;
  grid-gap: .5em;
}

.multiple-choice-form label {
  text-align: left;
}